<p style="color: green"><%= notice %></p>

<div class="show">
<div class="opcion-show">
<div>
  <%= link_to "â® Volver", pacientes_path, class: "link-new" %>
 </div> 
<div class="opcion-show">
  <%= link_to "Editar", edit_paciente_path(@paciente), class: "link-edit" %>

  <%= button_to "Eliminar", @paciente, method: :delete, class: "button-destroy" %>
</div>
</div>

<div class="container-content">
  <div class="content-content">
<%= render @paciente %>
</div>
</div>
</div>