<div id="<%= dom_id diagnostico %>">
  <p>
    <strong>Descripcion:</strong>
    <%= diagnostico.descripcion %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= diagnostico.fecha %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= diagnostico.paciente_id %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= diagnostico.medico_id %>
  </p>

  <p>
    <strong>Gravedad:</strong>
    <%= diagnostico.gravedad %>
  </p>

  <p>
    <strong>Recomendaciones:</strong>
    <%= diagnostico.recomendaciones %>
  </p>

  <p>
    <strong>Tipo diagnostico:</strong>
    <%= diagnostico.tipo_diagnostico %>
  </p>

</div>
