<div id="<%= dom_id medicamento %>">
  <p>
    <strong>Nombre:</strong>
    <%= medicamento.nombre %>
  </p>

  <p>
    <strong>Dosis:</strong>
    <%= medicamento.dosis %>
  </p>

  <p>
    <strong>Frecuencia:</strong>
    <%= medicamento.frecuencia %>
  </p>

  <p>
    <strong>Duracion:</strong>
    <%= medicamento.duracion %>
  </p>

  <p>
    <strong>Tratamiento:</strong>
    <%= medicamento.tratamiento_id %>
  </p>

  <p>
    <strong>Proveedor:</strong>
    <%= medicamento.proveedor %>
  </p>

  <p>
    <strong>Efectos secundarios:</strong>
    <%= medicamento.efectos_secundarios %>
  </p>

</div>
