<div id="<%= dom_id citum %>">
  <p>
    <strong>Fecha:</strong>
    <%= citum.fecha %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= citum.motivo %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= citum.paciente_id %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= citum.medico_id %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= citum.estado %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= citum.observaciones %>
  </p>

  <p>
    <strong>Sala:</strong>
    <%= citum.sala %>
  </p>

</div>
