<div id="<%= dom_id tratamiento %>">
  <p>
    <strong>Nombre:</strong>
    <%= tratamiento.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= tratamiento.descripcion %>
  </p>

  <p>
    <strong>Duracion:</strong>
    <%= tratamiento.duracion %>
  </p>

  <p>
    <strong>Diagnostico:</strong>
    <%= tratamiento.diagnostico_id %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= tratamiento.medico_id %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= tratamiento.estado %>
  </p>

  <p>
    <strong>Frecuencia:</strong>
    <%= tratamiento.frecuencia_administracion %>
  </p>

</div>
